
<div style="margin-top: 10px;margin-left: 10px;">
<input name='login' ng-model="login" type="text">Login</input>
<input name='pass' ng-model="pass" style="margin-left: 5px;" type="text">Password</input>
<input type="submit" style="margin-left: 5px;" ng-click="onSubmitClicked()"/>
<table ng-if="clicked" class="table table-striped table-bordered" style="margin-top: 10px;">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody ng-repeat="i in countries">
    <tr><td>{{i.name}}</td><td>{{i.status}}</td></tr>

    </tbody>
</table>
</div>
